/* .page-container{
    margin: 50px 50px 50px 50px !important;
} */
:root {
    --blue: rgb(43, 46, 68);;
    --white: linen;
  }

#profile-img{
width:720px;
height: auto;
}
table.table-bordered {
    border: 3px solid darkgrey;
}

table.table-bordered > thead > tr > th {
    border: 3px solid darkgrey;
}

table.table-bordered > tbody > tr > td {
    border: 3px solid darkgrey;
}

nav{
    background-color: var(--blue);
    height: 5rem;
    
}

.nav-item{
    margin: auto 40px;
}

.container{
    margin-top: 10rem;
}








